.modal {
    position: fixed; /* reste en place */
    top : 85px;
    z-index: 2; /* au dessus du reste */
    width: 1000px; /* largeur */
    height: 500px; /* hauteur */
    overflow: auto; /* barre de scroll si besoin */
    background-color: white; /* opaque */
    border: solid;
    top:10; /* a 10% du haut */
    left:20%; /* a 20% de la gauche */
   }

   .managername{
       position: relative;
       top : -40px;
       left : -100px;
       font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
   }

   .managercible{
    position: relative;
    top : -40px;
    left : -50px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
   }

   .managercost{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    position: relative;
    left : 150px;
    top : -20px;
   }

   .round{
    height : 100px;
    width : 100px;
    position : relative;
    left : -350px;
    top : -25px;
    border : solid blue 2px;
   }

   .managergrid{
     
       border : solid black 2px;
       margin: 5px;
   }
   
   .hire {
    background-color: white; 
    color: black; 
    border: 2px solid #008CBA;
    font-size: 20px;
    padding: 10px 24px;
    height : 50px;
    width : 150px;
    position : relative;
    top : -30px;
    left : -150px;
  }

  .hire:hover {
      transition: ease-in-out 0.5s;
    background-color: #008CBA;
    color: white;
    box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
  }
.hire:disabled{
  border: 2px solid red;
  
}

.hire:disabled:hover{
  background-color: red;

}

.ulogo{
  height : 100px;
  width : 100px;
  position : relative;
  left : -350px;
  top : -50px;
  border : solid blue 2px;
}