.logo{

    width : 50px;
    height : 50px;
    position: relative;
    left : 410px;
    top : 40px;

}

.tpsprod{
    position: relative;
    left : 30px;
    top : -50px;

}

.product2{
    display: grid;
    grid-template-columns: 50% auto;
    border : solid black 2px;
    margin-right: 10px;
    margin-bottom: 5px;
    margin-top: 3px;
  }

  .nameprod{
    position: relative;
    top : 5px;
    left : 5px;
    color : black;
    
  }

  .prix {
    background-color: white; 
    color: black; 
    border: 2px solid #008CBA;
    font-size: 15px;
    padding: 10px 24px;
    position : relative;
    top : -10px;
    left : -20px;
  }
  
  .prix:hover {
      transition: ease-in-out 0.5s;
    background-color: #008CBA;
    color: white;
    box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
  }
  .progressbar{
      position : relative;
      left : 30px;
      top : -40px;
  }
  
  .qte{
      position : relative;
      left :-30px;
  }